<!DOCTYPE html>
<html>
<style>
  table, th, td {
    border:1px solid black;
  }
  </style>
<body>

{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

<h2>Contract</h2>

<p>ID: {{ contract['id'] }}</p>
<p>Title: {{ contract['title'] }}</p>
<p>Difficulty: {{ contract['difficulty'] }}</p>
<p>Created: {{ contract['creation_date'] }}</p>
<p>Expires: {{ contract['expiration_date'] }}</p>
<p>Creater ID: {{ contract['creater_user_id'] }}</p>
<p>Payout: {{ contract['payout'] }}</p>

<form method="post" enctype="multipart/form-data">
  <p>
    <label for="payment_email">payment_email</label>
    <input name="payment_email" id="payment_email">
  </p>
  <p><input type="file" name="file"></p>
  <p><input type="submit" value="Attempt"></p>
</form>

<h2>Total Attempts</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Contract ID</th>
    <th>Creater ID</th>
    <th>Filename</th>
    <th>Status</th>
    <th>Ran</th>
    <th>Success</th>
    <th>Failed Tests</th>
    <th>Function Name</th>
    <th>Payment Email</th>
  </tr>
{% for attempt in attempts %}
  <tr>
    <td>{{ attempt['id'] }}</td>
    <td>{{ attempt['contract_id'] }}</td>
    <td>{{ attempt['creater_user_id'] }}</td>
    <td>{{ attempt['attempt_filename'] }}</td>
    <td>{{ attempt['_status'] }}</td>
    <td>{{ attempt['ran'] }}</td>
    <td>{{ attempt['success'] }}</td>
    <td>{{ attempt['failed_tests'] }}</td>
    <td>{{ attempt['function_name'] }}</td>
    <td>{{ attempt['payment_email'] }}</td>
  </tr>
{% endfor %}
</table>

<h2>Your Attempts</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Contract ID</th>
    <th>Creater ID</th>
    <th>Filename</th>
    <th>Status</th>
    <th>Ran</th>
    <th>Success</th>
    <th>Failed Tests</th>
    <th>Function Name</th>
    <th>Payment Email</th>
  </tr>
{% for attempt in attempts %}
  {% if session['user_id'] == attempt['contract_id'] %}
    <td>{{ attempt['id'] }}</td>
    <td>{{ attempt['contract_id'] }}</td>
    <td>{{ attempt['creater_user_id'] }}</td>
    <td>{{ attempt['attempt_filename'] }}</td>
    <td>{{ attempt['_status'] }}</td>
    <td>{{ attempt['ran'] }}</td>
    <td>{{ attempt['success'] }}</td>
    <td>{{ attempt['failed_tests'] }}</td>
    <td>{{ attempt['function_name'] }}</td>
    <td>{{ attempt['payment_email'] }}</td>
  {% endif %}
{% endfor %}
</table>

</body>
</html>