<!DOCTYPE html>
<html>
<style>
  table, th, td {
    border:1px solid black;
  }
  </style>
<body>

{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

<h2>Contract</h2>

<p>ID: {{ contract[0] }}</p>
<p>Title: {{ contract[1] }}</p>
<p>Difficulty: {{ contract[3] }}</p>
<p>Created: {{ contract[4] }}</p>
<p>Expires: {{ contract[5] }}</p>
<p>Creater ID: {{ contract[6] }}</p>
<p>Payout: {{ contract[7] }}</p>

<form method="post" enctype="multipart/form-data">
  <p>
    <label for="function_name">Function Name</label>
    <input name="function_name" id="function_name">
  </p>
  <p><input type="file" name="file"></p>
  <p><input type="submit" value="Attempt"></p>
</form>

<h2>Total Attempts</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Contract ID</th>
    <th>Creater ID</th>
    <th>Filename</th>
    <th>Ran</th>
    <th>Success</th>
    <th>Failed Tests</th>
    <th>Function Name</th>
  </tr>
{% for attempt in attempts %}
  <tr>
    <td>{{ attempt[0] }}</td>
    <td>{{ attempt[1] }}</td>
    <td>{{ attempt[2] }}</td>
    <td>{{ attempt[3] }}</td>
    <td>{{ attempt[4] }}</td>
    <td>{{ attempt[5] }}</td>
    <td>{{ attempt[6] }}</td>
    <td>{{ attempt[7] }}</td>
  </tr>
{% endfor %}
</table>

<h2>Your Attempts</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Contract ID</th>
    <th>Creater ID</th>
    <th>Filename</th>
    <th>Ran</th>
    <th>Success</th>
    <th>Failed Tests</th>
    <th>Function Name</th>
  </tr>
{% for attempt in attempts %}
  <tr>
    <td>{{ attempt[0] }}</td>
    <td>{{ attempt[1] }}</td>
    <td>{{ attempt[2] }}</td>
    <td>{{ attempt[3] }}</td>
    <td>{{ attempt[4] }}</td>
    <td>{{ attempt[5] }}</td>
    <td>{{ attempt[6] }}</td>
    <td>{{ attempt[7] }}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>