{% extends "base.html" %}

{% block title %}Register - BlackBox{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Create Account</h2>
    
    <form method="post">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            {{ form.username(class="form-input", id="username", required=true) }}
        </div>
        
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            {{ form.password(class="form-input", id="password", required=true) }}
        </div>
        
        {{ form.submit(class="form-submit", value="Create Account") }}
    </form>

    <div class="form-link">
        <p>Already have an account? <a href="{{url_for('login')}}">Login here</a></p>
    </div>
</div>
{% endblock %}