<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<h2>Box Table</h2>

<p>User Id is {{ session['user_id'] }}</p>

<p>
  <a href="{{url_for('register')}}">Register</a>
</p>

<p>
  <a href="{{url_for('login')}}">Log in</a>
</p>

<p>
  <a href="{{url_for('logout')}}">Log out</a>
</p>

<p>
  <a href="{{url_for('create')}}">Create a Box</a>
</p>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Difficulty</th>
    <th>Created</th>
    <th>Expires</th>
    <th>Creater Id</th>
    <th>Payout</th>
    <th>Link</th>
    <th>Delete</th>
  </tr>
{% for contract in contracts %}
  <tr>
    <td>{{ contract['id'] }}</td>
    <td>{{ contract['title'] }}</td>
    <td>{{ contract['difficulty'] }}</td>
    <td>{{ contract['creation_date'] }}</td>
    <td>{{ contract['expiration_date'] }}</td>
    <td>{{ contract['creater_user_id'] }}</td>
    <td>{{ contract['payout'] }}</td>
    <td><a href="{{url_for('viewContract', id=contract['id'])}}">Open</a></td>
    {% if session['user_id'] == contract['creater_user_id'] %}
      <td><a href="{{url_for('deleteContract', id=contract['id'])}}">Delete</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>

</body>
</html>